<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
        integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
</head>

<body>
    <header id="header">
        <div class="header_container">
            <div class="header_logo">
                <img src="../../../assets/collabSample.png" alt="CollabWithKatz" class="header_logo_img">
            </div>
            <nav class="user_menu">
                <ul class="menu_list">
                    <li><a href="#">My Works</a></li>
                    <li><a href="#">My Profile</a></li>
                </ul>
            </nav>
            <div class="user_login_logout">
                <ul class="login_logout_ul">
                    <li><a href="#">Login/Logout</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main id="main">
        <div class="container">
            <div class="box" *ngFor="let videoSource of videoSources">
                <video class="box_video" #videoElement muted loop (mouseover)="playVideo(videoElement)" (mouseout)="pauseVideo(videoElement)">
                    <source [src]="videoSource" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <span>My Work</span>
            </div>
        </div>
    </main>    
    <footer id="footer">
        <div class="footer">
            <div class="row">
                <ul>
                    <li>
                        <a href="#">
                            <img src="../../../assets/collabSample.png" alt="">
                        </a>
                        <a href="#">Contact us</a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../assets/collabSample.png" alt="">
                        </a>
                        <a href="#">Our Services</a>

                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../assets/collabSample.png" alt="">
                        </a>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../assets/collabSample.png" alt="">
                        </a>
                        <a href="#">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../assets/collabSample.png" alt="">
                        </a>
                        <a href="#">Career</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                Katziio Copyright © 2021 Katziio - All rights reserved || Designed By: Katziio
            </div>
        </div>
    </footer>
</body>

</html>