<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Upload</title>
</head>

<body>
    <header id="header">
        <div class="header_container">
            <div class="header_logo">
                <img src="../../../assets/collabSample.png" alt="CollabWithKatz" class="header_logo_img">
            </div>
            <nav class="user_menu">
                <ul class="menu_list">
                    <li><a href="#">My Profile</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main id="main">
        <div class="container">
            <div class="card">
                <h3>Upload Files</h3>
                <form class="drop_box" (ngSubmit)="uploadVideo()" enctype="multipart/form-data">
                    <header>
                        <h4>Select File here</h4>
                    </header>
                    <p>Files Supported: Video Format</p>
                    <input type="file" name="video" (change)="onFileChange($event)"  accept="video/*" required>
                    <button type="submit" class="btn">Upload</button>
                </form>

            </div>
        </div>
    </main>
    <footer id="footer">
        <div class="footer">
            <div class="row">
                <ul>
                    <li>
                        <a href="#">
                            <img src="../../../assets/collabSample.png" alt="">
                        </a>
                        <a href="#">Contact us</a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../assets/collabSample.png" alt="">
                        </a>
                        <a href="#">Our Services</a>

                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../assets/collabSample.png" alt="">
                        </a>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../assets/collabSample.png" alt="">
                        </a>
                        <a href="#">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../assets/collabSample.png" alt="">
                        </a>
                        <a href="#">Career</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>