<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreatorHome</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <header id="header">
        <div class="header_welcome">
            <h1 class="creator_name">Welcome Katz!</h1>
        </div>
        <div class="login_logout">
            <button type="submit" class="btn btn-primary" (click)="logout()">
                Logout
            </button>
        </div>
    </header>
    <main id="main">
        <table class="table editor_list" id="table">
            <thead>
                <tr class="table_header">
                    <th>Project Name</th>
                    <th>Project Description</th>
                    <th>Raw Video URL</th>
                </tr>
            </thead>
            <tbody>
                <tr class="editor" *ngFor="let project of projectList">
                    <td>{{ project.projectName }}</td>
                    <td>{{ project.projectDescription }}</td>
                    <td>{{ project.rawVideoURl }}</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>

</html>
