<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header id="header">
        <div class="header_container">
            <div class="header_logo">
                <img src="../../../assets/collabSample.png" alt="CollabWithKatz" class="header_logo_img">
            </div>
            <nav class="user_menu">
                <ul class="menu_list">
                    <li><a href="#">Creator</a></li>
                    <li><a href="#">Editor</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main id="main">
        <div class="box-form">
            <div class="left">
                <div class="overlay">
                    <h1>Hi Editor</h1>
                    <p>Welcome to CollabWithKatz</p>
                </div>
            </div>
            <div class="right">
                <div class="right_header">
                    <h5>Login in as Editor</h5>
                    <a [routerLink]="['/signup']" routerLinkActive="router-link-active" >Create Your Account</a>
                </div>
                <div class="inputs">
                    <input type="text" placeholder="user name">
                    <br>
                    <input type="password" placeholder="password">
                </div>

                <br><br>

                <div class="remember-me--forget-password">
                    <a href="#">Forget password?</a>
                </div>

                <br>
                <button [routerLink]="['/profilePage']">Login</button>

            </div>

        </div>
    </main>
    <footer id="footer">
        <div class="footer">
            <div class="row">
                <ul>
                    <li>
                        <a href="#">
                            <img src="../../../assets/collabSample.png" alt="">
                        </a>
                        <a href="#">Contact us</a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../assets/collabSample.png" alt="">
                        </a>
                        <a href="#">Our Services</a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../assets/collabSample.png" alt="">
                        </a>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../assets/collabSample.png" alt="">
                        </a>
                        <a href="#">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../assets/collabSample.png" alt="">
                        </a>
                        <a href="#">Career</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>