/* Reset default styles for all elements */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

/* Body styles */
body {
    overflow-x: hidden;
    overflow-y: auto;
}

/* Header styles */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

/* Table styles */
#table {
    width: 70%;
    margin: auto;
    border: 2px solid gainsboro;
    text-align: center;
}

td,
th {
    border-right: 2px solid gainsboro;
}

tr {
    border-bottom: 2px solid gainsboro;
}

/* Chat section styles */
aside {
    margin: auto;

}

aside .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.container .row {
    height: fit-content;
}

.card {
    height: 53vh;
    border: 2px solid #000;
    background-color: #eee;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-radius: 0.3rem;
    overflow: scroll;
    width: 50vw;

}

/* Chat list styles */
.chat-list {
    padding: 0;
    font-size: 0.8rem;
}

.chat-list li {
    margin-bottom: 10px;
    overflow: auto;
    color: #ffffff;
}

.chat-list .chat-img {
    float: left;
    width: 48px;
}

.chat-list .chat-img img {
    border-radius: 50px;
    width: 100%;
}

.chat-list .chat-message {
    border-radius: 50px;
    background: #5a99ee;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

.chat-list .chat-message:before {
    content: "";
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
}

.chat-list .chat-message h5 {
    margin: 0 0 5px 0;
    font-weight: 600;
    line-height: 100%;
    font-size: 0.9rem;
}

.chat-list .chat-message p {
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.chat-list .chat-body {
    margin-left: 20px;
    float: left;
    width: 70%;
}

.chat-list .in .chat-message:before {
    left: -12px;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #5a99ee;
}

.chat-list .out .chat-img {
    float: right;
}

.chat-list .out .chat-body {
    float: right;
    margin-right: 20px;
    text-align: right;
}

.chat-list .out .chat-message {
    background: #fc6d4c;
}

/* Card header styles */
.card .card-header {
    background: #17202b;
    border: 0;
    font-size: 1rem;
    padding: 0.65rem 1rem;
    position: relative;
    font-weight: 600;
    color: #ffffff;
}

/* Content section styles */
.content {
    margin-top: 40px;
}

/* Send input styles */
.send_input {
    width: 50vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}

.send_input * {
    height: 100%;
}

.send_input input {
    width: 85%;
    border: 2px solid #5a99ee;
    background-color: #fff;
    font-size: 1.2rem;
    border-radius: 0.25rem;
}

.send_input button {
    width: 15%;
    background-color: #5a99ee;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}