body {
    font-family: Arial, sans-serif;
    /* background-color: #f2f2f2; */
    margin: 0;
    padding: 0;
   background-color: gray;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}

.error-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 0.5rem;
    height: 30vh;
}

h1 {
    font-size: 42px;
    color: #000;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    font-weight: 600;
    color: #33333380;
    margin-bottom: 20px;
}
.btn{
    height: 3rem;
}