<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b907692696.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./landingpage.component.css">
</head>

<body>
    <header id="landing_header">
        <div class="header_menu">
            <ul class="menu_list">
                <li>About Us</li>
                <li>Service</li>
                <li>DropDown</li>
            </ul>
        </div>
        <div class="page_logo_container">
            <img src="../../../assets/CollabWithKatz-logos.jpeg" alt="pageLogo" class="page_logo">
        </div>
        <div class="header_contact">
            <button class="contact_btn black_btn">Contact Us</button>
        </div>
    </header>
    <main id="landing_menu">
        <section class="main_header">
            <div class="main_header_container">
                <h1 class="main_header_heading">
                    Empowering Creators and Editors to Collaborate
                </h1>
                <p class="main_header_content">
                    Our platform enables seamless collaboration between creators and editors,
                    allowing creators to easily share their raw files and work together to create amazing content.
                </p>
                <div class="main_header_cta">
                    <button class="black_btn">Learn More</button>
                    <button class="white_btn">Get Started</button>
                </div>
            </div>
        </section>
        <section class="main_how_it_works">
            <div class="main_how_it_works_container">
                <div class="section_container_header">
                    <p class="dark_text">Simplify</p>
                    <h1>Streamline the Editing Process with Ease</h1>
                    <p>Our platform allows creators to easily collaborate with editors.
                        Simply choose an editor, provide them with your raw files, and let the magic happen.
                    </p>
                </div>
                <div class="section_content_container">
                    <div class="section_content_item">
                        <i class="fa-solid fa-cube"></i>
                        <h2>Find the Perfect Editor for Your Project</h2>
                        <p>Browse through our diverse pool of talented editors and find the one that best suits your
                            needs.</p>
                    </div>
                    <div class="section_content_item">
                        <i class="fa-solid fa-cube"></i>
                        <h2>Receive Professional Editing in a Timely Manner</h2>
                        <p>Rest assured that your edited files will be delivered to you promptly, ensuring that you meet
                            your project deadlines.</p>
                    </div>
                    <div class="section_content_item">
                        <i class="fa-solid fa-cube"></i>
                        <h2>Effortlessly Share and Review Your Work</h2>
                        <p>Our intuitive platform makes it easy to share your work with your chosen editor and provide
                            feedback throughout the editing process.</p>
                    </div>
                </div>
                <div class="main_footer_cta">
                    <button class="white_btn black_border">Get Started</button>
                    <button class="white_btn">Learn More ></button>
                </div>
            </div>
        </section>
        <section class="main_feature">
            <div class="main_feature_container">
                <div class="feature_details">
                    <h2>Discover the Power of Collaboration: Editor and Creator Working Together</h2>
                    <p>Our feature section allows creators to easily collaborate with editors, providing them with raw
                        files d benefiting from their expertise. Experience the seamless workflow and enhanced
                        creativity that come from this unique partnership.</p>
                </div>
                <div class="feature_img_container">
                    <img src="../../../assets/creator.jpg" alt="content_creator">
                </div>
            </div>
        </section>
        <section class="main_editor_feature">
            <div class="main_feature_container">
                <div class="feature_details">
                    <h2>Discover the Power of Collaboration: Editor and Creator Working Together</h2>
                    <p>Our feature section allows creators to easily collaborate with editors,
                        providing them with raw files d benefiting from their expertise. Experience the seamless
                        workflow and enhanced creativity that come from this unique partnership.</p>
                    <div class="main_header_cta">
                        <button class="black_btn">Get Started</button>
                        <button class="white_btn black_border">Learn More</button>
                    </div>
                </div>
                <div class="feature_img_container">
                    <img src="../../../assets/editor.jpg" alt="content_creator">
                </div>
            </div>
        </section>
        <section class="main_insights">
            <div class="main_insights_header">
                <p class="dark_text">Insights</p>
                <h2 class="dark_text">Unlock Your Creative Potential</h2>
                <p>Discover valuable resources to enchance your creativity.</p>
            </div>
            <div class="insights_container">
                <div class="insights">
                    <div class="insights_img_container">
                        <img src="../../../assets/blog.jpg" alt="blog" class="insights_img">
                    </div>
                    <div class="insights_details">
                        <div class="insights_info">
                            <p class="dark_text category">Inspiration</p>
                            <p class="dark_text">5 min read</p>
                        </div>
                        <h2 class="insight_title dark_text">Unleashing Your Inner Artist</h2>
                        <p class="insights_excerpt">Learn how to tap into your creative potential and express yourself.
                        </p>
                        <button>Read more ></button>
                    </div>
                </div>
                <div class="insights">
                    <div class="insights_img_container">
                        <img src="../../../assets/blog.jpg" alt="blog" class="insights_img">
                    </div>
                    <div class="insights_details">
                        <div class="insights_info">
                            <p class="dark_text category">Inspiration</p>
                            <p class="dark_text">5 min read</p>
                        </div>
                        <h2 class="insight_title dark_text">Unleashing Your Inner Artist</h2>
                        <p class="insights_excerpt">Learn how to tap into your creative potential and express yourself.
                        </p>
                        <button>Read more ></button>
                    </div>
                </div>
                <div class="insights">
                    <div class="insights_img_container">
                        <img src="../../../assets/blog.jpg" alt="blog" class="insights_img">
                    </div>
                    <div class="insights_details">
                        <div class="insights_info">
                            <p class="dark_text category">Inspiration</p>
                            <p class="dark_text">5 min read</p>
                        </div>
                        <h2 class="insight_title dark_text">Unleashing Your Inner Artist</h2>
                        <p class="insights_excerpt">Learn how to tap into your creative potential and express yourself.
                        </p>
                        <button>Read more ></button>
                    </div>
                </div>
                <div class="insights">
                    <div class="insights_img_container">
                        <img src="../../../assets/blog.jpg" alt="blog" class="insights_img">
                    </div>
                    <div class="insights_details">
                        <div class="insights_info">
                            <p class="dark_text category">Inspiration</p>
                            <p class="dark_text">5 min read</p>
                        </div>
                        <h2 class="insight_title dark_text">Unleashing Your Inner Artist</h2>
                        <p class="insights_excerpt">Learn how to tap into your creative potential and express yourself.
                        </p>
                        <button>Read more ></button>
                    </div>
                </div>
            </div>
            <button class="view_all">View All ></button>
        </section>
    </main>
    <footer id="landing_footer">
        <div class="footer_content">
            <div class="footer_page_logo_container page_logo_container">
                <img src="../../../assets/CollabWithKatz-logos.jpeg" alt="footer logo" class="page_logo">
            </div>
            <div class="footer_menu_container">
                <ul class="footer_menu">
                    <li class="menu_list">About Us</li>
                    <li class="menu_list">Contact Us</li>
                    <li class="menu_list">FAQs</li>
                    <li class="menu_list">Support</li>
                    <li class="menu_list">Blog</li>
                </ul>
            </div>
            <div class="footer_social_link_container">
                <div class="ul footer_social_links">
                    <li class="social_link">
                        <i class="fa-brands fa-facebook"></i>
                    </li>
                    <li class="social_link">
                        <i class="fa-brands fa-linkedin"></i>
                    </li>
                    <li class="social_link">
                        <i class="fa-brands fa-instagram"></i>
                    </li>
                    <li class="social_link">
                        <i class="fa-brands fa-youtube"></i>
                    </li>
                    <li class="social_link">
                        <i class="fa-brands fa-x-twitter"></i>
                    </li>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>